/* Write the CSS for you answer here */

#landscape_image{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
}

#pohutukawa_image{
    position: absolute;
    left: 0px;
    top: 140px;
    width: 100%;
    z-index:+2;
}
#blue_bauble{
    position: absolute;
    left: 200px;
    top: 250px;
    z-index: +3;
}
#red_bauble{
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: +3;
}
#dark_blue_bauble{
    position: absolute;
    left: 400px;
    top: 350px;
    z-index: +3;
}
#green_bauble{
    position: absolute;
    left: 600px;
    top: 250px;
    z-index:+3;
}
#orange_bauble{
    position: absolute;
    left: 750px;
    top:400px;
    z-index: +3;
}

#pink_bauble{
    position: absolute;
    left: 500px;
    top:450px;
    z-index: +1;
}






#blu_bauble{
    width: 50px;
    transition: with 2s ease;
}

#blue_bauble:hover{
    width: 100px;
}

#red_bauble{
    width: 50px;
    transition: with 2s ease;
}

#red_bauble:hover{
    width: 100px;

}

#dark_blue_bauble{
    width: 50px;
    transition: with 2s ease;

}

#dark_blue_bauble:hover{
    width: 100px;
}

#green_bauble{
    width: 50px;
    transition: with 2s ease;
}

#green_bauble:hover{
    width: 100px;
}

#dark_blue_bauble:hover{
    width: 100px;
}

#orange_bauble{
    width: 50px;
    transition: with 2s ease;
}
#orange_bauble:hover{
    width: 100px;
}

#pohutukawa_image{
    pointer-events: none;
}



#pink_bauble{
    width: 50px;
    transition: with 2s ease;
}
#pink_bauble:hover{
    width: 100px;
}

