/* Write the CSS for you answer here */

#landscape_image{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
}

#pohutukawa_image{
    position: absolute;
    left: 0px;
    top: 140px;
    width: 100%;
    z-index:+2;
}
#blue_bauble{
    position: absolute;
    left: 200px;
    top: 250px;
    z-index: +3;
}
#red_bauble{
    position: absolute;
    left: 100px;
    top: 400px;
    z-index: +3;
}
#dark_blue_bauble{
    position: absolute;
    left: 400px;
    top: 350px;
    z-index: +3;
}
#green_bauble{
    position: absolute;
    left: 600px;
    top: 250px;
    z-index:+3;
}
#orange_bauble{
    position: absolute;
    left: 750px;
    top:400px;
    z-index: +3;
}

#pink_bauble{
    position: absolute;
    left: 500px;
    top:450px;
    z-index: +1;
}


